@media (max-width:912px){
    .project-items-inside-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 30px;
    }
    .project-img-container{
        min-height: 280px;
    }
}

@media (max-width:797px){
    #project-container{
        margin: 20px;
    }

}

@media (max-width:554px){
    #other-pages-welcome-message-container{
        background-attachment: scroll;
    }
    .project-img-container{
        min-height: 200px;
    }
    .project-items-inside-container{
        margin: 40px 20px;
    }
    #project-container{
        margin:0;
        gap: 15px;
    }
    .project-title{
        font-size: 1.8rem;
    }
}